.filter {
    width: 680px;
    height: 75px;
    background-color: #fff;
    margin: 120px 0 0 10%;
    border-radius: 10px;
}

.filterComponents {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

span {
    display: flex;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.titleFilter {
    font-size: 12px;
}

.buttonSearch {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #B05D3D;
}

.buttonSearch img {
    width: 20px;
}