.filterComponents {
    width: 50vw;
    height: 75px;
    background-color: #fff;
    margin: 70px 0 0 10%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    padding-left: 10px;
}

span {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.titleFilter {
    font-size: 12px;
    margin: 0;
}

hr {
    height: 80%;
    width: 1px;
    border: none;
    opacity: 0.5;
    background-color: #505050;
}

.buttonSearch {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin: 0 3% 0 5%;
    background-color: #B05D3D;
    cursor: pointer;
}

.buttonSearch img {
    width: 20px;
}