header {
    width: 100%;
    height: 100vh;
    background-image: url('../images/casaHeader.png');
    background-size: cover;
    background-position: center;
}

.superiorMenu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 90px;
    border-radius: 50%;
}

.superiorList {
    display: flex;
    list-style: none;
    color: #FFF;
}

.superiorList li {
    margin: 0 10px 0 10px;
    font-size: 20px;
    cursor: pointer;
    border-bottom: solid rgba(255, 255, 255, 0) 3px;
    transition: 0.5s;
}

.superiorList li a {
    color: #FFF;
    text-decoration: none;
}

.superiorList li:hover {
    border-bottom: solid #FF7A00 3px;
}

.socialMediaLinks {
    display: flex;
}

.socialMediaIcon {
    width: 20px;
    margin: 0 10px 0 10px;
}

.containerHeader {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.title {
    color: white;
    word-break: break-all;
    font-size: 60px;
    font-weight: bold;
    margin: 10px 0 0 10%;
}

.horizontalRow {
    width: 280px;
    height: 3px;
    background-color: #FF7A00;
    border: none;
    margin-left: 10%;
}

.exploreButton {
    width: 150px;
    height: 50px;
    background-color: #FF7A00;
    color: #FFF;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 20px 0 0 10%;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exploreButton:hover {
    color: white;
}

.headerHouses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/headerCasas.png');
}

.headerHouses .containerHeader {
    margin: 0;
}

.headerApes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/headerApes.png');
    background-position: top;
}

.headerApes .containerHeader {
    margin: 0;
}